.reg-modal-wrapper {
    width: 50%;
    height: 80%;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: row;
}

.students-wrapper {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right-color: black;
    border-right-width: 1px;
    border-right-style: solid;
}

.teachers-wrapper {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.reg-stud-photo, .reg-teach-photo {
    width: 60%;
    margin: 20px;
}

.reg-title {
    color: #707070;
}

.reg-switch-btn {
    display: flex;
    flex-direction: row;

}

.login-text {
    margin-right: 10px;
}

#sign-login-switch {
    color: #A5A5A5;
}

#sign-signup-switch {
    border-bottom-style: solid;
    border-bottom-width: 4px;
    border-bottom-color: #F91C85;
    color: #707070;
}

#log-login-switch {
    border-bottom-style: solid;
    border-bottom-width: 4px;
    border-bottom-color: #43C0F6;
    color: #707070;
}

#log-signup-switch {
    color: #A5A5A5;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
}

.input-fields {
    width: 200px;
    height: 30px;
    border-radius: 10px;
    border-style: solid;
}

.sign-btn, .login-btn {
    width: 175px;
    height: 35px;
    color: white;
    border-radius: 7px;
    border-style: none;
}

.sign-btn {
    background-color: #F91C85;
}

.login-btn {
    background-color: #43C0F6;
}