.info-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.info-title {
    text-align: center;
}

#info-btn-group {
    margin: auto;
    display: flex;
    flex-direction: row;
    width: 80%;
}

.info-btn {
    margin: 10px auto;
    min-width: fit-content;
    padding: 0px 10px;
}

.info-btn:active {
    background-color: orange;
}

.text-panel {
    width: 100%;
    padding: 50px 0px;
    background-color: #EFEFF1;
    display: flex;
    flex-direction: column;
}

/* TEXT PANELS */

.panel-wrap {
    margin: 50px auto;
    color: #606060;
}

.panel-item {
    list-style-image: url('../../../img/home/star-small.png');
}